mixin breadcrumb
  if base.breadcrumb
    nav.breadcrumb
      ul
        each breadcrumb in base.breadcrumb.breadcrumbs
          li
            a(href='!{breadcrumb.url}!{base.meta.queryString}') #{breadcrumb.label}
