mixin lessonModuleImage(module)
  .lesson-module.lesson-module-image
    if module.imageUrl
      figure.lesson-module-image__figure
        img.lesson-module-image__image(src=module.imageUrl alt=module.title)
        if module.caption
          figcaption.lesson-module-image__caption= module.caption
    else
      h3 #{module.missingImageLabel}
