version: 2
jobs:
   build:
     docker:
       - image: circleci/java:8
     steps:
      - checkout
      - run:
          name: The Example App Java - Building and Testing
          command: ./gradlew clean test
      - run:
          name: Save test results 
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/junit/ \;
          when: always
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit    
