extends layout

include mixins/_breadcrumb
include mixins/_editorialFeatures
include mixins/_moduleCopy
include mixins/_moduleHeroImage
include mixins/_moduleHighlightedCourse

block content
  .layout-centered
    +breadcrumb
  .layout-centered
    +editorialFeatures(landingPage)
  .modules-container
    if modules
      each module in modules
        case module.type
          when 'copy'
            +moduleCopy(module)

          when 'heroImage'
            +moduleHeroImage(module)

          when 'highlightedCourse'
            +moduleHighlightedCourse(module)
    else
      .module.module-highlighted-course
        .module-highlighted-course__wrapper
          .module-highlighted-course__overlay
            .module-highlighted-course__content
              h1
              | #{base.labels.noContentLabel}
              span
              | #{base.labels.errorDoesNotExistLabel}
